<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>burger</title>
  <!-- linking reset CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
  <!-- linking CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/burger_style.css">
  <!-- linking bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<h1>burger</h1>
	<img src="assets/img/burger.png">

{{{body}}}

	<div class="submit">
		<h2>new burger</h2>


		<form method="POST" action="/" class="button-size">
			<input type="text" name="burger_name">

			<button type="submit">add a burger!</button>
		</form>
</div>

</body>
</html>
